@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(style/navbar.css);
@import url(style/forms.css);
@import url(style/userpage.css);
@import url(style/home.css);

:root {
  font-family: "Jost", sans-serif;  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  --cor-principal: #8200b6ff;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0;
  padding: 2rem;
}

.container h1 {
  text-align: center;
  font-family: Bebas Neue, sans-serif;
  font-weight: 500;
}

.container h1 span {
  color: var(--cor-principal);
}

/* Card do Jogo */
.game-card {
  background: #2a2a2a;
  padding: 1rem;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  border-radius: 4px;
}

.GamesPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
